// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import "global";
@import "form";
@import "login";

.body--light {
  .card-page {
    background: #F8F8F8;
  }

  .setting-item {
    background-color: white;

    &__title {
      color: #062841;
    }
  }

  .info {
    &__title {
      color: #062841;
    }

    &__email {
      color: #06284194;
    }

    &__detail {
      color: #858c9384;
    }
  }

  .table-style {
    background-color: #ffffff !important;
  }

  .font-style {
    color: rgba(122, 122, 122, 1);
  }

  .my-sticky-header-table .q-table__top,
  .my-sticky-header-table thead tr:first-child th {
    background-color: $primary-opacity;
  }

  .card-graphics {
    background-color: #FFFFFF;

    &__title {
      color: #6A7985;
    }
  }

  .card-typography {
    color: #283438;
  }

  .border-line {
    border: 1px solid $primary-opacity;
  }

  .container-colorama {
    background: #06284110;
  }

  .alert-container {
    background-color: rgba(80, 76, 76, 0.25) !important;
    color: rgb(80, 76, 76) !important;
  }

  .tooltip-container {
    background-color: rgba(80, 76, 76, 0.25) !important;
    color: rgb(231, 231, 231) !important;
  }
}

.body--dark {
  .card-page {
    background: #24292e;
  }

  .setting-item {
    background-color: #334c646e;

    &__title {
      color: #91c8ff84;
    }
  }

  .info {
    &__title {
      color: #91c8ff84;
    }

    &__email,
    &__detail {
      color: #858c9384;
    }
  }

  .table-style {
    background-color: #334c646e !important;
  }

  .font-style {
    color: #dce1e6;
  }

  .card-graphics {
    background-color: #181b1e;

    &__title {
      color: #6A7985;
    }
  }

  .item {
    background-color: #181b1e7b !important;
    color: #91c8ff84 !important;
  }

  .my-card {
    background-color: #334c646e !important;
  }

  .card-typography {
    color: #91c8ff84;
  }

  .border-line {
    border: 1px solid #91c8ff84;
  }

  .main-container-page-dark {
    background-color: #181b1e !important;
  }

  .main-container-page-medium-dark {
    background-color: #181b1e84 !important;
  }

  .icn-style {
    color: #6A7985 !important;
  }

  .btn-background-dark {
    background-color: $accent !important;
  }

  .btn-change-content {
    background-color: #334c646e !important;
    color: #51565d !important;
  }

  .container-colorama {
    background: #181b1e;
  }

  .q-date__calendar-item>button {
    background-color: #91c8ff1a;
    color: $blue-grey-4;
  }

  .alert-container,
  .tooltip-container {
    background-color: rgba(255, 255, 255, 0.091) !important;
    color: #dce1e6;
  }

  // .input-style {
  //   background-color: rgba(0, 0, 0, 0.109) !important;
  //   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  // }
}

.btn-style {
  background-color: $primary !important;
  color: $primary-opacity !important;
}

.bottom-btn {
  padding-bottom: 0.6rem;
}

.info {
  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  &__email {
    font-weight: 600;
    font-size: 13px;
  }

  &__detail {
    font-weight: 600;
    font-size: 13px;
  }
}

.setting-item {
  height: 75px !important;

  &__title {
    font-size: 12px;
  }

  &__title * .q-item {
    border-radius: 8px;
  }

  &__subtitle {
    color: #798d9cda !important;
    font-size: 10px;
  }
}

.setting-item:hover {
  background-color: $accent;
  transform: scale(1);
}

.table-style {
  box-shadow: none;
}

.card-page {
  position: absolute;
  height: 97vh;
  width: 97.5%;
  box-shadow: none;
  border-radius: 8px !important;
  padding: 1rem;
  overflow: hidden;
}

.main-container-page {
  height: 92%;
  width: 100%;
  overflow-y: scroll !important;
  border-radius: 8px;
}

.h-90 {
  height: 90% !important;
}

.h-97 {
  height: 97% !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.border-none,
.border-line,
.border-shadow {
  box-shadow: none;
}

.border-radius {
  border-radius: 8px !important;
}

.q-date__navigation {
  background: linear-gradient(269.25deg, $primary -4.79%, $primary 94.27%);
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
}

.q-date__calendar-item>button {
  background-color: rgba(233, 225, 235, 0.39);
  line-height: 22px;
}

.card-color {
  background-color: #00000009 !important;
}

.card-graphics {
  &__title {
    font-weight: 300;
    font-size: 13px;
  }
}

.border-bottom {
  border-width: 0 0 1px 0 !important;
  border: solid #6a798588;
}

.tabs-style {
  height: 10vh !important;
  display: none;
}

ul,
ol {
  padding-left: 1rem;
}


.border-rounded {
  border-radius: 0.6rem !important
}

.title-page {
  font-weight: 400;
  font-size: 16px;
}

.container-cards {
  padding: 10px;
  gap: 10px;
}

.container-header {
  gap: 10px;
  padding-bottom: 10px;
}

.responsive-calendar {
  width: auto !important;
}

.show-in-mobile {
  display: none !important;
}

.not-show-in-mobile {
  display: flex !important;
}

.qr-code-style {
  width: 100% !important;
  height: 100% !important;
}

.alert-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  padding-block: 10px;
  font-weight: 500 !important;
}

.tooltip-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  font-weight: 600 !important;
}

.btn-close-order {
  order: 1;
}

.container-graph {
  height: 200px;
  width: 180px;
}

// RESPONSIVITY
@media only screen and (max-width : 1024px) {
  .btn-close-order {
    order: 0;
  }

  .q-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7px;
  }

  .responsive-calendar {
    width: 90% !important;
  }

  .title-page {
    font-size: 15px;
  }

  .main-container-page {
    height: 85%;
  }

  .card-page {
    padding: 8px;
    height: 98% !important;
  }

  .q-page,
  .q-page-container,
  .my-sticky-header-table {
    height: 100% !important;
  }

  .container-cards {
    padding: 5px;
    gap: 5px;
  }

  .container-form {
    height: 92.5%;
  }

  .container-table-plans {
    width: 84vw !important;
  }

  .container-table-notifications {
    width: 90vw !important;
  }

  .show-in-mobile {
    display: flex !important;
  }

  .not-show-in-mobile {
    display: none !important;
  }

  .drawer {
    height: 100vh !important;
    padding-left: 0px;
  }

  .q-drawer--mobile {
    width: 250px !important;
  }

  .side-menu {
    border-radius: 0 !important;
  }

  // FONT SIZE
  .q-tooltip {
    font-size: 8px !important;
    padding: 6px;
  }

  .info {
    &__title {
      font-size: 20px;
      line-height: 16px;
    }

    &__detail,
    &__email {
      font-size: 11px;
    }
  }

  .setting-item {
    &__title {
      font-size: 10px;
    }

    &__subtitle {
      font-size: 9px;
    }
  }

  .card-graphics {
    &__title {
      font-size: 11px;
    }
  }

  .font-tree,
  .q-item-label {
    font-size: 12px !important;
  }
}