// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import "global";


.body--light {
  .card-page {
    background: #F8F8F8;
  }

  .setting-item {
    background-color: $bg-clear;

    &__title {
      color: #062841;
    }
  }

  .info {
    &__title {
      color: #062841;
    }

    &__email {
      color: #06284194;
    }

    &__detail {
      color: #858c9384;
    }
  }

  .table-style {
    background-color: #ffffff !important;
  }

  .font-style {
    color: rgba(122, 122, 122, 1);
  }

  .my-sticky-header-table .q-table__top,
  .my-sticky-header-table thead tr:first-child th {
    background-color: $primary-opacity;
  }

  .card-graphics {
    background-color: #FFFFFF;

    &__title {
      color: #6A7985;
    }
  }

  .card-typography {
    color: #283438;
  }

  .border-line {
    border: 1px solid $primary-opacity;
  }

  .form {
    &__item-select {
      color: #7a7a7a;
    }

    &__checkbox {
      background-color: white;
      color: #7a7a7a;
      border: #4C607D 1px solid;
    }

    &__item-label {
      color: #293138;
      font-size: 13px;

      &__title {
        color: #293138;
        font-size: 15px;
        font-weight: 500;
      }
    }

    &__item-input {
      color: #51565d;
    }

    &__item-input-12 {
      color: #51565d;
    }

    &__item-textarea {
      color: #51565d;
    }

    &__date {
      color: #51565d;
    }

    &__item-model {
      color: #959494;
    }

    &__item-area {
      color: #959494;
    }

    &__image64 {
      background-color: white;
    }

    &__image64-equipment {
      background-color: white;
    }

    &__date_container {
      background-color: $primary-opacity !important;
    }

    &__item-input-login {
      background-color: #F2F2F2 !important;
    }
  }

  .container-colorama {
    background: #06284110;
  }

  .login {
    &__main-container {
      background: #FFFFFF;
    }

    &__top-container {
      background: linear-gradient(249.89deg, $primary 6.95%, #89D5FF 111.53%);
    }

    &__title {
      color: #FFFFFF;
    }

    &__bottom-container {
      background-color: #FFFFFF;
    }
  }

  .login-page {
    background-color: #dce1e6;
  }
}

.body--dark {
  .card-page {
    background: #24292e;
  }

  .setting-item {
    background-color: #334c646e;

    &__title {
      color: #91c8ff84;
    }
  }

  .info {
    &__title {
      color: #91c8ff84;
    }

    &__email {
      color: #858c9384;
    }

    &__detail {
      color: #858c9384;
    }
  }

  .table-style {
    background-color: #334c646e !important;
  }

  .font-style {
    color: #dce1e6;
  }

  .card-graphics {
    background-color: #181b1e;

    &__title {
      color: #6A7985;
    }
  }

  .item {
    background-color: #181b1e7b !important;
    color: #91c8ff84 !important;
  }

  .my-card {
    background-color: #334c646e !important;
  }

  .card-typography {
    color: #91c8ff84;
  }

  .border-line {
    border: 1px solid #91c8ff84;
  }

  .main-container-page-dark {
    background-color: #181b1e !important;
  }

  .main-container-page-medium-dark {
    background-color: #181b1e84 !important;
  }

  .icn-style {
    color: #6A7985 !important;
  }

  .form {
    &__item-label {
      color: #6A7985;

      &__title {
        color: #91c8ff84;
      }
    }

    &__checkbox {
      background-color: #181b1e;
      color: #51565d;
      border: #4C607D 1px solid;
    }

    &__item-select {
      color: #51565d !important;
    }

    &__date {
      color: #91c8ff84;
    }

    &__date_container {
      background-color: #334c646e !important;
    }

    &__item-model {
      color: #959494;
    }

    &__item-area {
      color: #959494;
    }

    &__image64 {
      background-color: $accent !important;
    }

    &__image64-equipment {
      background-color: $accent !important;
    }

    &__item-input {
      color: #51565d;
    }

    &__item-input-12 {
      color: #51565d;
    }

    &__item-textarea {
      color: #b5c3d7;
    }

    &__item-input-login {
      background-color: #142638 !important;
    }
  }

  .btn-background-dark {
    background-color: $accent !important;
  }

  .btn-change-content {
    background-color: #334c646e !important;
    color: #51565d !important;
  }

  .container-colorama {
    background: #181b1e;
  }

  .q-date__calendar-item>button {
    background-color: #91c8ff1a;
    color: $blue-grey-4;
  }

  .login {
    &__main-container {
      background: #334c646e;
    }

    &__top-container {
      background: linear-gradient(249.89deg, #0077ff44 6.95%, #89d6ff6a 111.53%);
    }

    &__title {
      color: #b8dbff;
    }

    &__bottom-container {
      background-color: #000000ad;
    }
  }

  .login-page {
    background-color: #181b1e84;
  }
}


.btn-style {
  background-color: $primary !important;
  color: $primary-opacity !important;
}

.bottom-btn {
  padding-bottom: 0.6rem;
}

.info {
  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  &__email {
    font-weight: 600;
    font-size: 13px;
  }

  &__detail {
    font-weight: 600;
    font-size: 13px;
    padding-right: 1.5rem;
  }
}

.setting-item {
  height: 75px !important;
  border-radius: 10px;

  &__title {
    font-size: 12px;
  }

  &__subtitle {
    color: #798d9cda !important;
    font-size: 10px;
  }
}

.setting-item:hover {
  background-color: rgb(($primary), 0.2);
  transform: scale(1);
}

.table-style {
  box-shadow: none;
}

.card-page {
  position: absolute;
  height: 97vh;
  width: 97.5%;
  // box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 10%) !important;
  box-shadow: none;
  border-radius: 8px !important;
  padding: 1rem;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-container-page {
  height: 90%;
  width: 100%;
  overflow-y: scroll !important;
  border-radius: 6px;
  padding-top: 1rem;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.border-shadow {
  // box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: none;
}

.border-none {
  box-shadow: none;
}

.border-line {
  box-shadow: none;
}

.border-radius {
  border-radius: 8px !important;
}

.q-date__navigation {
  background: linear-gradient(269.25deg, $primary -4.79%, $primary 94.27%);
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
}

.q-date__calendar-item>button {
  background-color: rgba(233, 225, 235, 0.39);
  line-height: 22px;
}


.card-color {
  background-color: #00000009 !important;
}

.form {
  &__item-chip {
    background-color: #66a1d43c;
    color: $primary !important;
    border-radius: 4px;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
  }

  &__item-label {
    font-size: 12px;
  }

  &__item-model {
    font-size: 13px !important;
  }

  &__checkbox {
    border-radius: 5px;
  }

  &__item-select {
    min-width: 230px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 0.3rem !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__date {
    font-size: 12px;
  }

  &__item-input {
    min-width: 230px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #51565d;
    border-radius: 0.3rem !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__item-select {
    min-width: 230px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #51565d;
    border-radius: 0.3rem !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__item-input-12 {
    min-width: 100% !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    border-radius: 0.3rem !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__item-textarea {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    border-radius: 0.3rem !important;
  }

  &__image {
    object-fit: fill !important;
    width: 50px !important;
    height: 50px !important;
  }

  &__image64 {
    object-fit: fill !important;
    width: 170px !important;
    height: 170px !important;
    background-clip: padding-box;
    border-radius: 50%;
  }

  &__image64-equipment {
    object-fit: fill !important;
    width: 100% !important;
    min-height: 240px !important;
    height: 100% !important;
    background-clip: padding-box;
    border-radius: 12px;
  }
}

.card-graphics {
  border-radius: 5px;

  &__title {
    font-weight: 300;
    font-size: 13px;
    border: solid #6a798588;
    border-width: 0 0 1px 0;
  }
}

.tabs-style {
  height: 10vh !important;
  display: none;
}

// RESPONSIVITY
@media only screen and (max-device-width : 1000px) {
  .main-container-page {
    height: 90%;
    padding: 0.5;
    width: 100%;
  }

  .card-page {
    height: 90%;
    margin-top: -4rem;
    padding: 0 !important;
  }

  .title-page {
    padding-left: 1rem;
  }

  .general-table {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .container-style {
    height: 93vh !important;
  }

  .tabs-style {
    height: 7vh !important;
    display: block;
  }
}

.q-chip,
.q-badge {
  border-radius: 6px !important;
}

.border-rounded {
  border-radius: 0.6rem;
}