// app global css in SCSS form
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
$color-inside-input: #7e97aa;


.body--light {
  .form {
    &__select {
      color: #7a7a7a;
    }

    &__checkbox {
      background-color: white;
      color: #7a7a7a;
      border: #4C607D 1px solid;
    }

    &__item-label {
      color: #767a7e;
      font-size: 13px;

      &__title {
        color: #767a7e;
        font-size: 15px;
        font-weight: 500;
      }
    }

    &__input,
    &__input-12,
    &__textarea,
    &__date {
      color: #51565d !important;
    }

    &__label-area,
    &__item-model {
      color: #959494;
    }

    &__image64,
    &__image64-equipment {
      background-color: white;
    }

    &__date_container {
      background-color: white !important;
    }
  }

  input,
  select {
    color: #51565d !important;
  }
}

.body--dark {
  .form {
    &__item-label {
      color: #6d8598;

      &__title {
        color: #6d8598;
      }
    }

    &__checkbox {
      background-color: #181b1e;
      color: #51565d;
      border: #4C607D 1px solid;
    }

    &__select {
      color: #51565d !important;
    }

    &__date {
      color: #6d8598;
    }

    &__date_container {
      background-color: #1a2230 !important;
    }

    &__item-model,
    &__label-area {
      color: #959494;
    }

    &__image64,
    &__image64-equipment {
      background-color: $accent !important;
    }

    &__input,
    &__input-12 {
      color: #51565d;
    }

    &__textarea {
      color: $color-inside-input;
    }
  }

  // when select an option in input type text autocomplete changes background
  input,
  select {
    color: $color-inside-input !important;
    -webkit-text-fill-color: $color-inside-input !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    caret-color: $color-inside-input;
  }
}

.form {
  &__item-chip {
    background-color: #66a1d43b;
    color: $primary !important;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
  }

  &__date,
  &__item-label,
  &__item-model {
    font-size: 12px;
  }

  &__select,
  &__input {
    min-width: 100px !important;
    font-weight: 400;
    font-size: 12px;
    color: #51565d !important;
    border-radius: 8px !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__button {
    color: white;
    min-width: 100px !important;
    font-size: 12px;
    border-radius: 8px !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__input-12 {
    min-width: 100% !important;
    font-weight: 400;
    font-size: 12px;
    border-radius: 8px !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__input-small {
    min-width: 100% !important;
    font-weight: 300;
    font-size: 12px;
    border-radius: 8px !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

  &__textarea {
    border: none;
    font-weight: 400;
    font-size: 12px;
  }

  &__label-area {
    border: none;
    font-weight: 400;
    font-size: 12px;
  }

  &__image {
    object-fit: fill !important;
    width: 65px !important;
    height: 65px !important;
  }

  &__image64 {
    object-fit: fill !important;
    width: 170px !important;
    height: 170px !important;
    background-clip: padding-box;
    border-radius: 50%;
  }

  &__image64-equipment {
    object-fit: fill !important;
    width: 100% !important;
    height: 100% !important;

    min-height: 200px !important;
    min-width: 120px !important;

    max-height: 250px;
    max-width: 250px;
    background-clip: padding-box;
  }
}

input,
select {
  background-clip: text !important;
}

// RESPONSIVITY
@media only screen and (max-width : 1000px) {
  .form {

    &__input-12,
    &__textarea,
    &__label-area,
    &__select,
    &__input,
    &__button,
    &__date,
    &__item-label,
    &__item-model {
      font-size: 11px !important;
    }
  }

  .options-select {
    font-size: 11px !important;
  }
}