// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.body--light {
  .login {
    &__top-container {
      background: linear-gradient(249.89deg, $primary 6.95%, #89D5FF 111.53%);
    }

    &__title {
      color: #FFFFFF;
    }

    &__bottom-container {
      color: #FFFFFF;
      background-color: #0000001a;
    }

    &__main-container {
      color: #FFFFFF;
      background-color: #0000001a;
    }
  }

  .form {
    &__input-login {
      background-color: #F2F2F2 !important;
    }
  }

  .login-page {
    background-color: #dce1e6;
  }
}

.body--dark {
  .login {
    &__main-container {
      background: #161a21;
    }

    &__top-container {
      background: linear-gradient(249.89deg, rgba($primary, 0.5) 6.95%, #89d6ff77 111.53%);
    }

    &__title {
      color: #FFFFFF;
    }

    &__bottom-container {
      background-color: #00000060;
    }
  }

  .form {
    &__input-login {
      background-color: rgba(22, 24, 28, 0.626) !important;
    }
  }

  .login-page {
    background-color: #181b1e84;
  }
}


.login {
  &__main-container {
    position: relative;
    border-radius: 40px;
    width: 100%;
    max-width: 474px;
    height: 527px;
  }

  &__top-container {
    border-radius: 40px;
    width: 100%;
    max-width: 474px;
    height: 251.83px;
  }

  &__title {
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 8rem;
  }

  &__bottom-container {
    position: absolute;
    top: 19.06%;
    bottom: 1.52%;
    width: 85%;
    height: 390.94px;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border-radius: 40px;
    backdrop-filter: blur(10px);
  }

  &__legend {
    font-size: 12px;
  }

  &__submit {
    margin-top: 5rem;
  }
}